---
# handlers file for ansible-rsyslog
- name: restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted
    enabled: true
- name: restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
    enabled: true
