{{ ansible_managed | comment }}

#### MODULES ####
# Global umask for all actions
$umask {{ rsyslog_umask | default('0022') }}


{% for item in rsyslog_modules %}
module(load={{item.name | to_json }}
{%- if item.options is defined %}
{%+ for key, value in item.options.items() %}
 {{ key }}={{ value | to_json }}
{% endfor -%}
{%- endif -%}
)
{% endfor %}

{% for item in rsyslog_inputs %}
input(type={{item.name | to_json }}
{%- if item.options is defined %}
{%+ for key, value in item.options.items() %}
 {{ key }}={{ value | to_json }}
{%- endfor -%}
{%- endif -%}
)
{% endfor %}


#### GLOBAL DIRECTIVES ####

{% if rsyslog_priv_drop %}
# drop privileges
$PrivDropToUser {{ rsyslog_priv_drop_user }}
$PrivDropToGroup {{ rsyslog_priv_drop_group }}
{% endif %}

# global work directory
global(workDirectory={{ rsyslog_global_work_directory | to_json }})

# Include all config files in {{ rsyslog_conf_dir }}
$IncludeConfig {{ rsyslog_conf_dir }}/*.conf
