{{ ansible_managed|comment }}

###########################
#### GLOBAL DIRECTIVES ####
###########################

# Provides TCP syslog reception
{{ '#' if not rsyslog_allow_tcp else '' }}$ModLoad imtcp
{{ '#' if not rsyslog_allow_tcp else '' }}$InputTCPServerRun {{ rsyslog_tcp_port|default('514') }}
# Provides UDP syslog reception
{{ '#' if not rsyslog_allow_udp else '' }}$ModLoad imudp
{{ '#' if not rsyslog_allow_udp else '' }}$UDPServerRun {{ rsyslog_tcp_port|default('514') }}


{{ '#' if not 'imuxsock'  in rsyslog_modules else '' }}$ModLoad imuxsock  # provides support for local system logging (e.g. via logger command)
{{ '#' if not 'imjournal' in rsyslog_modules else '' }}$ModLoad imjournal # provides access to the systemd journal
{{ '#' if not 'imklog'    in rsyslog_modules else '' }}$ModLoad imklog    # provides kernel logging support
{{ '#' if not 'immark'    in rsyslog_modules else '' }}$ModLoad immark    # provides --MARK-- message capability
{{ '#' if not 'imfile'    in rsyslog_modules else '' }}$ModLoad imfile    # provides access to specific log file


# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
{{ '#' if not rsyslog_action_file_enable_sync else '' }}$ActionFileEnableSync on

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
{{ '#' if 'imuxsock' in rsyslog_modules or not rsyslog_omit_local_logging else '' }}$OmitLocalLogging on

# File to store the position in the journal
{{ '#' if not 'imjournal' in rsyslog_modules else '' }}$IMJournalStateFile imjournal.state

{% for item in rsyslog_options %}
  {{ item.option }} {{ item.value }}
{% endfor %}
